node_modules/
.env
.DS_Store

# Built client files
frontend/dist
frontend/node_modules/
backend/node_modules/

# SQLite database
backend/database/*.db
backend/database/*.sqlite
backend/database/*.sqlite3
backend/database/*.db-*
